PORT=3000
AI_SERVICE_URL=http://127.0.0.1:5000/predict
AI_IMAGE_URL=http://127.0.0.1:5000/analyze-image
API_KEY=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=akilli_tarim
DB_USER=postgres
DB_PASSWORD=your_postgres_password
